.ssky-mention-input__suggestions {

  background-color: white !important;
  color: #736d5c !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  border-radius: 8pt;
  bottom: 100px !important;
  height: fit-content;
}
.ssky-mention-input__input {
  border-radius: 5pt;
  padding-left: 10px;
  padding-right: 10px;

  padding-top: 10px;
  bottom: 100px !important;
}
